<h2>Edit project {{proj.title}} </h2>
<form action="/project/{{id}}/edit" method="post">
    <br>Title<br><input type="text" name="title" values={{project.title}}>
    <br>Goal<br><input type="number" name="goal" values={{project.goal}}>
    <br>Description<br><input type="textarea" name="description" values={{project.description}}>
    <br>Start Date<br><input type="Date" name="start" values={{project.start}}>
    <br>End Date<br><input type="Date" name="end" value={{project.end}}>
    <br>Category<br>
    <select name="categories">
        <option value="Famous Muppet Frogs" >Famous Muppet Frogs</option>
        <option value="The Pen Is Mightier" >The Pen Is Mightier</option>
        <option value="Famous Mothers">Famous Mothers</option>
        <option value="Drummers Named Ringo" >Drummers Named Ringo</option>
        <option value="1-Letter Words" >1-Letter Words</option>
        <option value='Months That Start With "Feb"' >Months That Start With "Feb"</option>
        <option value="How Many Fingers" >How Many Fingers Am I Holding Up</option>
        <option value="Potent Portables" >Potent Portables</option>
    </select>
    <br>Save<br><input type="submit" value="Submit">
</form>

