<h2>Edit project{{proj.title}}</h2>

<form method="POST" action ="/project/{{id}}/edit">
    <p>Title: <input type="text" name="title" value="{{proj.title}}"></p>
    <p>Goal: <input type="text" name="goal" value="{{proj.goal}}"></p>
    <p>Description of Project: </p>
    <textarea name="description">{{proj.description}}</textarea><br>
    <p>Start: <input type="text" name="start" value="{{proj.start}}"></p>
    <p>End: <input type="text" name="end" value="{{proj.end}}"></p>
    <select name="category">
        <option value="Famous Muppet Frogs">Famous Muppet Frogs</option>
        <option value="The Pen Is Mightier">The Pen Is Mightier</option>
        <option value="Famous Mothers">Famous Mothers</option>
        <option value="Drummers Named Ringo">Drummers Named Ringo</option>
        <option value="1-Letter Words">1-Letter Words</option>
        <option value='Months That Start With "Feb"'>Months That Start With "Feb"</option>
        <option value="How Many Fingers Am I Holding Up">How Many Fingers Am I Holding Up</option>
        <option value="Potent Potables">Potent Potables</option>
    </select>
    <button type="submit">Submit New Project</button>
    {{#if error}}
        <h4>{{error}}</h4>
    {{/if}}
</form>