<h2>Edit project</h2>

<!-- Part 2: Create project -->
<form action={{url}} method="POST">
    <span>
        <input type="text" name="title" value={{title}}><br>
        <input type="text" name="goal" value={{goal}}><br>
        <textarea id="description" name="description" rows="5" cols="33">{{description}}</textarea><br>
        <input type="date" name="start" value={{start}}><br>
        <input type="date" name="end" value={{end}}><br>
        <select class="category" name="category">
            <option value="Famous Muppet Frogs" name="category">Famous Muppet Frogs</option>
            <option value="The Pen Is Mightier" name="category">The Pen Is Mightier</option>
            <option value="Famous Mothers" name="category">Famous Mothers</option>
            <option value="Drummers Named Ringo" name="category">Drummers Named Ringo</option>
            <option value="1-Letter Words" name="category">1-Letter Words</option>
            <option value='Months That Start With "Feb"' name="category">Months That Start With "Feb"</option>
            <option value="How Many Fingers Am I Holding Up" name="category">How Many Fingers Am I Holding Up</option>
            <option value="Potent Potables" name="category">Potent Potables</option>
        </select>
        <input type="submit" name="submit" value="submit">
  </span>
</form>

<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
