<h2>Edit project</h2>

{{#each errors}}
  <li>{{this.message}}</li>
{{/each}}

<form action="/project/{{projectid}}/edit" method="POST">
  Title:<br>
  <input type="text" name="title" value="{{project.title}}"> <br>
  Goal Amount:<br>
  <input type="text" name="goal" value="{{project.goal}}"> <br>
  Description:<br>
  <textarea name="description" value="{{project.description}}"> </textarea> <br>
  Start Date: <br>
  <input type="date" name="start" value="{{startDate}}"> <br>
  End Date: <br>
  <input type="date" name="end" value="{{endDate}}"> <br>
  Category: <br>
  <select name="category" value="{{project.category}}">
    <option value="Famous Muppet Frogs">Famous Muppet Frogs</option>
    <option value="The Pen Is Mightier">The Pen Is Mightier</option>
    <option value="Famous Mothers">Famous Mothers</option>
    <option value="Drummers Named Ringo">Drummers Named Ringo</option>
    <option value="1-Letter Words">1-Letter Words</option>
    <option value="Months That Start With "Feb"">Months That Start With 'Feb'/option>
    <option value="How Many Fingers Am I Holding Up">How Many Fingers Am I Holding Up</option>
    <option value="Potent Potables">Potent Potables</option>
  </select>
  <br>
  <br>
  <input type="submit" value="Create">
</form>
