<h1 style= "text-align: center">Fully Funded Projects</h1>

<p style= "text-align: center">View:
  <a class="btn btn-secondary" href="/"> All Projects </a>
  <a class="btn btn-secondary" href="/unfunded"> Unfunded projects </a>
</p>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><a href="/funded/?sort=title"> Name </a></th>
      <th scope="col"><a href="/funded/?sort=start"> Start Date </a></th>
      <th scope="col"><a href="/funded/?sort=end">End Date</a></th>
      <th scope="col"><a href="/funded/?sort=goal">Goal</a></th>
      <th scope="col"><a href="/funded/?sort=total_contributions">Amount Raised</a></th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
      <tr>
        <td> <a href="/project/{{this.id}}">{{this.title}}</a> </td>
        <td>{{this.newStart}}</td>
        <td>{{this.newEnd}}</td>
        <td>${{this.goal}}</td>
        <td>${{this.total_contributions}}</td>
      </tr>
    {{/each}}
 </tbody>
</table>
<div style= "text-align: center">
  <a class="btn btn-primary" href="http://localhost:3000/new"> Create new project </a>
</div>
