<h1>All projects</h1>
Sort:
<ul>
    <li><a href="/?sort=start">Start date, ascending</a></li>
    <li><a href="/?sort=start&sortDirection=descending">Start date, descending</a></li>
    <li><a href="/?sort=end">End date, ascending</a></li>
    <li><a href="/?sort=end&sortDirection=descending">End date, descending</a></li>
    <li><a href="/?sort=goal">Goal, ascending</a></li>
    <li><a href="/?sort=goal&sortDirection=descending">Goal, descending</a></li>
    <li><a href="/?sort=totalContributions">Total contributions, ascending</a></li>
    <li><a href="/?sort=totalContributions&sortDirection=descending">Total contributions, descending</a></li>
</ul>
Filter:
<ul>
    <li><a href="/?funded=true">Fully funded</a></li>
    <li><a href="/?funded=false">Not fully funded</a></li>
</ul>

<!-- Part 1: View all projects -->
{{#each projects}}
<h2>{{this.title}}</h2>
Id: {{this._id}}<br>
Goal: {{this.goal}}<br>
Start: {{this.start}}<br>
End: {{this.end}}<br>
Contributions: {{#each this.contributions}}
{{#each this}}
{{this}}
{{/each}}
{{/each}}
{{/each}}
<br>
<!-- Part 2: Create new project -->
<h1><a href="http://localhost:3000/new">Create new project</a></h1>