<h1>View Project</h1>

<!-- Part 3: View a single project -->

Title: {{project.title}}<br/>
Goal: {{project.goal}}<br/>
Description: {{project.description}}<br/>
Start: {{project.start}}<br/>
End: {{project.end}}<br/>
Category: {{project.category}}

<!-- Part 4: Contribute to a project -->
Total amount of contributions: {{totalRaised}}<br>
Percentage of project goal met:
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{percentOfGoal}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{percentOfGoal}}%">
    {{percentOfGoal}}%
  </div>
</div>
Contributions:
{{#each project.contributions}}
{{this.name}} contributed {{this.amount}}<br>
{{/each}}


<h1>Make a contribution</h1>
<form method="POST">
    Name: <input type="text" name="name" value="{{name}}"/><br/>
    Amount: <input type="text" name="amount" value="{{amount}}"/><br/>
    <input type="submit" value="Submit"/>
</form>
