<h1>View Project</h1>

<!-- Part 3: View a single project -->

Title: {{project.title}}<br/>
Goal: {{project.goal}}<br/>
Description: {{project.description}}<br/>
Start: {{project.start}}<br/>
End: {{project.end}}<br/>

<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
