<h1>View Project</h1>

<!-- Part 3: View a single project -->

<!-- YOUR CODE HERE -->
<h2>{{proj.title}}</h2>
<h3>Goal: {{proj.goal}}</h3>
<h3>Description: {{proj.description}}</h3>
<h3>Start: {{proj.start}}</h3>
<h3>End: {{proj.end}}</h3>
<br><br>
<a href="/">Back to all projects</a>
<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
