<h1>View Project</h1>

<!-- Part 3: View a single project -->
<pre>
    project: {{project._id}}
    Title: {{project.title}}
    Goal: {{project.goal}}
    Description: {{project.description}}
    Start Date: {{project.start}}
    End Date: {{project.end}} 
</pre>
<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
