<!DOCTYPE html>
<html>
<head>

  <!-- Latest compiled and minified jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <title>Advanced Mongoose</title>
</head>
<body>
  <center>
    <h1>Advanced Mongoose</h1>
    <div class="row">
      <div class="container">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Owner First Name</th>
              <th>Owner Last Name</th>
              <th>Owner Birthday</th>
            </tr>
          </thead>
          <tbody>
          {{#each pets}}
            <tr>
              <th scope="row">{{baseOne @index}}</th>
              <td>{{name}}</td>
              <td>{{gender}}</td>
              <td>{{owner.name.first}}</td>
              <td>{{owner.name.last}}</td>
              <td>{{formatDate owner.birthday}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </center>
</body>
</html>
