<ul>
  {{#each directory}}
    <li>
      <strong>Id: </strong>{{id}} 
      <strong>Name: </strong>{{first_name}} {{last_name}} 
      <strong>Gender: </strong>{{gender}}
      <strong>Email: </strong>{{email}}
    </li>
  {{/each}}
</ul>