<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
    </head>
    <body>
        <h1>This is our list of students</h1>
        <ul>
            {{#each students}}
            <li>
                ID: {{id}}
                First Name: {{first_name}}
                Last Name: {{last_name}}
                Email: {{email}}
                Gender: {{gender}}
            </li>
            {{/each}}
        </ul>
    </body>
</html>