<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

{{#unless isFiltered}}
  Sort by date:
  <a href="/posts?order=ascending">ascending</a>
  <a href="/posts?order=ascending">descending</a>
{{else}}
  {{#unless order}}
    <a href="/posts">View posts by all authors</a>
  {{else}}
    <a href="/posts?order={{order}}">View posts by all authors</a>
  {{/unless}}
  <br>
  Sort by date:
  <a href="/posts?order=ascending&author={{author}}">ascending</a>
  <a href="/posts?order=descending&author={{author}}">descending</a>
{{/unless}}

{{#each posts}}
  <div>{{this.author}}: #{{this.title}} "{{this.body}}" {{this.date}}</div>
  {{#unless order}}
    <a href="/posts?author={{this.author}}">View posts only by this author</a>
  {{else}}
    <a href="/posts?order={{order}}&author={{this.author}}">View posts only by this author</a>
  {{/unless}}
{{/each}}


</body>
</html>
