<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->

{{#each posts}}
    <div>Author: {{author}}    title: {{title}}     body: {{body}}    date: {{date}} <a href="/posts?author={{author}}">View only posts by this author</a></div>
{{/each}}
<a href="/posts?order=ascending">sort ascending</a>
<a href="/posts?order=descending">sort descending</a>
<br />
<a href="/posts">view all posts</a>
<br />
<a href="/posts/new">new post</a>
<br />
<a href="/login">login</a>
    <!-- Put each post inside a div. Be sure to display the author, title, body and date of each post.
  -->

<!-- YOUR CODE HERE -->

</body>
</html>
