<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2><br><br>

<a href="/posts/new">Make a new post</a><br>
<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->
<a href="/posts?order={{query.order}}">View all authors: </a>
<p>Sort by Date:</p>
<a href="/posts?author={{query.author}}&order=ascending">Ascending</a>
<a href="/posts?author={{query.author}}&order=descending">Descending</a>
<br>
{{#each posts}}
    <div>
        <h2>{{title}}</h2>
        <h3>By: {{author}} on {{date}}</h3>
        <p>{{body}}</p>
        <a href="/posts?order={{@root.query.order}}&author={{author}}">View posts only by this author</a>
    </div>
    <br>
{{/each}}

</body>
</html>
